#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color);
  padding: 2rem 0;
  color: var(--second-color);
}

#footer a {
  font-size: max(16px, 1.7vw);
  color: var(--second-color);
  margin-left: 10px;
  transition: 0.5s;
}

#footer a:hover {
  color: var(--main-color);
}

#footer img {
  width: 100px;
}
