#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
}

#about__img {
  width: 50vw;
  height: 70vh;
  object-fit: cover;
}

.about__description {
  font-size: max(16px, 1.7vw);
  padding: 2rem 4rem;
}
