#contact {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#contact h3 {
  text-transform: uppercase;
  font-size: max(1.5rem, 2.5vw);
  color: var(--main-color);
  margin-bottom: 10px;
}
form {
  width: 40vw;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  background-color: var(--third-color);
  border: none;
}

input:focus,
textarea:focus {
  outline: 0;
}

.form__input-box {
  display: flex;
  width: 100%;
  gap: 5px;
  margin: 10px 0 10px 0;
}

.form__button {
  padding: 5px;
  width: 100px;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
}

.localization__map {
  width: 40vw;
  height: 250px;
}

.localization__info {
  padding: 8px;
}

@media (max-width: 700px) {
  #contact {
    align-items: center;
    flex-direction: column;
  }

  form {
    width: 80vw;
  }

  .localization__map {
    width: 80vw;
  }

  .localization-container h3 {
    display: none;
  }
}
